.card{
  --radius:10px;
  --sizes:350px;
  width:var(--sizes);
  height: var(--sizes);
  display: flex; 
  flex-direction: column;
  padding:1.55rem;
  border-radius: var(--radius);
  /* background-image: linear-gradient(to bottom, rgba(255,96,96,1) 0%, rgba(255,96,96,1) 100%), linear-gradient(to bottom, #FFF 0%, #FFF 42%, #0A0A0A 100%);*/
  background-blend-mode: multiply; 
  position: relative;
  overflow: hidden;
  transition: var(--regTransi);
}

.card:hover {
  transform: perspective(300px);
}

.card:hover .card-description {
  --op:1;
  cursor:pointer;
}

.card-link {
  margin-top:auto;
  text-decoration: unset;
  /* z-index: 999; */
}

.card-title{
  margin-block:.5rem 0;
  font-size:1.2rem;
  color: var(--white-color);
}
.card-img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.card-description{
  --op:0;
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin:0;
  padding-inline:1rem;
  opacity:var(--op) ;
  line-height: 1.4;
  /* overflow-y: scroll; */
  color:var(--white-color);
  background: var(--primary-color);
  transition: var(--regTransi);
}