.listing-section{
  --spacing:2.5rem;
  --gap:var(--spacing);
  --radius:25px;
  margin-block:var(--spacing);
  padding:var(--spacing);
  border-radius: var(--radius);
  background: #F6F6F6;
}

.listing-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap:var(--gap);

}

.main-title{
  margin-block:0 var(--spacing);
}

.free-spaces{
  color:var(--primary-color);
  font-size: 1.6rem;
  font-weight: bold;
}

.list-card{


}