.listing-container{
  --spacing:3rem;
  --gap:var(--spacing);
  --radius:25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  align-items: center;
  gap:var(--gap);
  margin-block:var(--spacing);
  padding:var(--spacing);
  border-radius: var(--radius);
  background: #F6F6F6;
}

.list-card{


}



/* p {
  color:var(--white-color);
} */